@page "/counter"

<PageTitle>Report</PageTitle>

<h1>Report time</h1>

@if (_loading)
{
    <div>Loading...</div>
}
else
{
    <article>
        <section>
            <div class="mb-3">
                <label for="task-name" class="form-label">Date from</label>
                <input id="task-name" 
                       type="text"
                       class="form-control"
                       @bind-value="TaskName"
                       @bind-value:after="ProcessTaskName"
                       placeholder="Task name" />

                <div>
                    @_taskProcessed
                </div>
            </div>
            <div class="mb-3">
                <label for="date-from" class="form-label">Date from</label>
                <input @bind-value="From" id="date-from" type="date" class="form-control" placeholder="Start date">
            </div>
            <div class="mb-3">
                <label for="date-to" class="form-label">Date to</label>
                <input @bind-value="To" id="date-to" type="date" class="form-control" placeholder="Start end">
            </div>
            <div class="mb-3">
                <label for="selected-project" class="form-label">Project</label>
                <select id="selected-project" @bind="ProjectId" class="form-select" aria-label="Select project">
                    @foreach (var project in _clockifyProjects)
                    {
                        <option value="@project.Id">@project.Name</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label for="selected-tag" class="form-label">Tag</label>
                <select @bind="SelectedTags" id="selected-tag" class="form-select" aria-label="Select tag" multiple>
                    @foreach (var tag in _clockifyTags)
                    {
                        <option value="@tag.Id">@tag.Name</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <button class="btn btn-success" @onclick="ReportTask">Report</button>
            </div>
        </section>
    </article>
}
