.stat-card {
    color: var(--secondary-text-color);
    background-color: var(--primary-color);
    padding: 15px 20px;
    min-width: 150px;
    border-radius: 10px;
}

dl.stats {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.stat-card dd {
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
}